[build-system]
requires = [
    "setuptools >= 45",
]
build-backend = "setuptools.build_meta"

[project]
name = "pymetis"
version = "0.0.1"
description = "Python package for METIS python recipes"
readme = "README.md"
requires-python = ">=3.11"
license = { text = "GPL-3.0-or-later" }
authors = [
    { name = "European Southern Observatory", email = "cpl-help@eso.org" }
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
    "Topic :: Software Development",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Unix",
    "Development Status :: 2 - Pre-Alpha",
]
dependencies = [
    "pycpl",
    "pyesorex",
    "edps",
    "astropy",
]

[project.urls]
Homepage = "https://www.eso.org/sci/software/pipelines/"

[project.optional-dependencies]
doc = [
    "sphinx",
]
test = [
    "pytest",
]

[tool.setuptools]
zip-safe = false

[tool.setuptools.packages.find]
where = ["src"]

[tool.uv]
extra-index-url = [
    "https://ivh.github.io/pycpl/simple/",
    "https://ftp.eso.org/pub/dfs/pipelines/libraries/",
]

[tool.pytest.ini_options]
addopts = "--strict-markers"
markers = [
    "edps: marks EDPS tests that usually take a long time (deselect with '-m \"not edps\"')",
    "inputset: marks tests related to `InputSet`",
    "external: marks test that require external data (usually from simulations)",
    "dataitem: marks tests related to data items",
    "product: marks tests related to `PipelineProduct`",
    "recipe: marks tests related to `MetisRecipe` or `MetisRecipeImpl`",
    "config: marks global configuration tests",
    "pyesorex: marks tests that depend on `pyesorex`",
    "slow: marks tasts with full-size data",
    "metadata: marks tests that verify recipe metadata",
]
